In [2]:
import pandas as pd 
import numpy as np

In [4]:
calles = pd.read_csv('callejero.csv')

In [8]:
calles.nomoficial.unique()

array(['PUNTA ARENAS', 'OBLIGADO RAFAEL, Av.Costanera',
       'LARRALDE, CRISOLOGO AV.', ..., 'SENDERO BARRIO RODRIGO BUENO C',
       'SENDERO BARRIO RODRIGO BUENO B', 'SENDERO BARRIO RODRIGO BUENO E'],
      dtype=object)

In [19]:
df = pd.DataFrame({'nombre':pd.Series(''),'telefono':pd.Series(''),'salida':pd.Series(''),'destino':pd.Series('')})

In [ ]:
df_locs=df[df.nombre==1]

In [27]:
df_locs.to_csv('pedidos.csv',sep='|')

In [30]:
df1 = pd.DataFrame({'uno':[1,2],'dos':[1,4]})

In [31]:
df1

   uno  dos
0    1    1
1    2    4

In [38]:
df1.to_csv('df2.csv',sep='|')

In [39]:
df1 = pd.read_csv('df2.csv',sep='|')

In [41]:
df1 = df1.iloc[:,1:]

In [151]:
df1

   uno  dos
0    1    1
1    2    4

In [36]:
df2 = pd.DataFrame({'uno':pd.Series(2),'dos':pd.Series(5)})

In [37]:
pd.concat([df1,df2],axis=0)

   uno  dos
0    1    1
1    2    4
0    2    5

In [54]:
df_nuevos = pd.DataFrame({'nombre_completo':pd.Series('nombreEjemplo'), 'telefono':pd.Series('numeroEjemplo'),'salida':pd.Series('ejemplo1'),'destino':pd.Series('ejemplo2')})

In [152]:
df_nuevos = df_nuevos[df_nuevos.nombre_completo=='']

In [153]:
df_nuevos.to_csv('pedidos.csv',sep='|')

In [63]:
hist = pd.read_csv('pedidos.csv',sep='|')

In [150]:
(hist.telefono.astype(str).str.contains('^'+'13'+'$',regex=True)).value_counts().shape[0]

1

In [87]:
hist

   Unnamed: 0 nombre_completo  salida  telefono
0           0             NaN  fasfas    213141
1           0             fgs  hfdhdf    124124

In [3]:
import pandas as pd

In [53]:
pasw

'Manaco201296,.'

In [45]:
pd.Series(psw).apply(lambda x: x[0])

0     M
1     a
2     n
3     a
4     c
5     o
6     2
7     0
8     1
9     2
10    9
11    6
12    ,
13    .
dtype: object